# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/junit/*

# junit reports
/junit/*

# Automation test
/src/automation-tests/e2e/*.env
/src/automation-tests/junit/*
/src/automation-tests/e2e/custom-rerun-directory/*
